#ImproStep {
  .bigCircle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20% auto 0;
    align-items: center;
    position: relative;
    display: flex; /* establish flex container */
    display: -webkit-flex;

    .smallCircle {
      border-radius: 50%;
      background-color: #272727;
      width: 120px;
      height: 120px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        margin: initial;
        padding-top: 40px;
        font-size: 1.5em;
        text-align: center;
        color: #fff;
      }
    }
  }
  p {
    color: #fff;
    text-align: center;
    margin-top: 18px;
  }
}